
    <div class="col-3 footer">
        <table>
            <tr>
                <td>
                    <img src="../../assets/icons/phone.png" class="icon">
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +381 60 7777718
                </td>
            </tr><br>
            <tr>
                <td>
                    <img src="../../assets/icons/mail.png" class="icon">
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; slatkizalogaji&#64;gmail.com
                </td>
            </tr>
        </table>
    </div>