<div class="col-10 offset-1 pad-top-with-nav">
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="row">
                    <div class="col-5 center">
                        <img [src]="product.image" class="product-img">
                    </div>
                    <div class="offset-1 col-6">
                        <h1 class="prod-title pretty-letters center">
                            {{product.name}}
                        </h1>
                        <br>
                        <div class="description center">
                            Opis: {{product.desc}}
                        </div>
                        <br>
                        <div class=" description center">
                            Sastojci: {{product.ingredients}}
                        </div>
                        <br>
                        <div class="pretty-letters description center">
                            Cena: {{product.price}}
                        </div>
                        <div class="row">
                            <div class="offset-2 col-8">
                                <table>
                                    <tr class="center">
                                        <td>
                                            <img class="icon-small" src="../../assets/icons/plus.png" (click)="inc(1)">
                                            <br>
                                            <img class="icon-small" src="../../assets/icons/minus.png" (click)="inc(-1)">
                                        </td>
                                        <td class="buy-cnt title">
                                            {{cnt}}
                                            <!-- <img class="icon-big" src="../../assets/icons/cart.png"> -->
                                        </td>
                                        <td style="width: 50px !important;"></td>
                                        <td>
                                            <img class="icon-big" src="../../assets/icons/cartadd.png" (click)="add_to_cart()">
                                        </td>
                                    </tr>
                                    <tr class="center error" *ngIf="msg.length>0">
                                        <td colspan="4"><br>{{msg}}</td>
                                        
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h1 class="pretty-letters prod-title center">
                    Komentari
                </h1>
                <br>
                <div *ngFor="let comment of product.comments" class="comment">
                    {{comment.username}}: {{comment.text}}
                    <hr>
                </div>
            </div>
            <br>
            <div class="card center">
                <input type="text" class="input-field" style="width: 100%;" [(ngModel)]="comment"><br>
                <button class="action-button approve-button" (click)="post_comment()" >
                    Postavi
                </button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

</div>